<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
@{
    ViewData["Title"] = "Contacts";
}

<h1>Контакти</h1>
<h5 class="fas fa-map-marker-alt"> гр. Карлово, ул."Васил Левски" №26</h5><br />
<h5 class="fas fa-phone"> +359 882556678</h5><br />
<h5 class="far fa-envelope-open"><b> office@uhanie.com</b></h5>
<br /><br /><br />
<div style="border:inset; border-radius:12px; border-color:black;">
    <h5>Работно време:</h5>
    <b>Понеделник: 9:00 - 18:00</b><br />
    <b>Вторник: 9:00 - 18:00</b><br />
    <b>Сряда: 9:00 - 18:00</b><br />
    <b>Четвъртък: 9:00 - 18:00</b><br />
    <b>Петък: 9:00 - 18:00</b><br />
    <b>Събота: 9:00 - 18:00</b><br />
    <b>Неделя: Почивен ден</b>
</div>