
@{
    ViewData["Title"] = "ForUs";
}

<h1>За нас</h1>
<div style="border: 3px solid #e0bfbf; padding:5px;">
    <img src="https://cdncloudcart.com/681/files/image/1.jpg" alt="picture" height="350px" style="float:right; padding:8px;text-align:justify;"/>
    <p>
        Новосъздаден арт магазин за цветя "Ухание" има една основна цел – да прави света на своите клиенти,
        техните близки и обичани хора по-цветен, по-красив и по-добър!
    </p>
    <p>
        Да работиш всекидневно с цветя и хора е най-прекрасната работа на света, а "Ухание" от своя страна е
        малък семеен бизнес, в който работят, творят и се забавляват заедно две поколения на едно българско
        семейство, което цял живот е заобиколено от цветя и ги обожава.
    </p>
    <p>
        Така ние комбинираме опита на по-възрастните с креативноста на по-младите и предлагаме уникални
        флорални решения специално предназначени за различни поводи и взаимствани от най-добрите
        световни флорални дизайнери.
    </p>
    <p>
        Богатата ни фантазия и любов към детайла са трудни за заснемане и  възможноста да пресъздадем всички
        наши творения в онлайн магазина е ограничена, затова не се притеснявайте да се свържете с нас по един
        от описаните начини и ние с удоволствие ще направим нещо специално за вашия повод на достъпна цена,
        с което да впечатлите и да бъдете незабравими.
    </p>
</div>
<br />
<div style="border: 3px solid #e0bfbf; padding:5px;">
    <img src="https://cdncloudcart.com/681/files/image/8.jpg" alt="picture" height="300px" style="float:left; padding:8px;text-align:justify;" />
    <p>
        Тук ще откриете богато разнообразие на различни видове цветя. Също така се изработват и аранжировки,
        които са добър избор, когато не знаете какво да подарите, но и не искате да бъде нещо обикновено.
    </p>
    <p>
        Ако все пак не вярвате на очите си, искате да се запознаете с нас или разполагате с малко свободно време,
        просто ни елате на гости. Тук ще бъдете посрещнати любезно и ще Ви бъде препоръчан най - добрият вариант
        от стайни цветя, букети и аранжировки за желания от Вас повод.
    </p>
    <p>
        Арт магазин „Ухание“ се намира на една от най-очарователните улици на град Карлово - ул."Васил Левски" №26
        Имате ли път от тук, непременно посетете магазина, купете любимото цвете за ваш близък и го изненадайте!
    </p>
    <p>
        Тук може да се порадвате на красиви цветя, да послушаме заедно музика, да пием по чаша кафе или просто
        да побъбрим, но при едно единствено условие - да вземете с Вас на излизане от цъфтящият ни магазин доза
        добро настроение и безплатни усмивки! Очакваме Ви :-)
    </p>
</div>
