<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://wallpapercave.com/wp/wp5931025.jpg" alt="First slide" class="d-block w-100">
            <div class="carousel-caption">
                <h1>Магазин за цветя "Ухание"</h1>
                <p>Добре дошли!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://wallpapercave.com/wp/wp2216527.jpg" alt="Second slide" class="d-block w-100">
            <div class="carousel-caption">
                <h3>Тук ще откриете разнообразие от цветя, букети и аранжировки за всеки повод!</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://wallpapercave.com/wp/wp11765409.jpg" alt="Third slide" class="d-block w-100">
            <div class="carousel-caption">
                <h1>Приятно пазаруване!</h1>
                <h2 class="fas">&#xf217;</h2>
            </div>
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>